<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/music/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Music Item: </br>
                    <input label='Music ID:' type="text" name="music_id" value="<%= locals.music_id %>" required>
                    <input label='Album Name:' type="text" name="album_name" value="<%= locals.album_name %>" required>
                    <input label='Artist Name:' type="text" name="artist_name" value="<%= locals.artist_name %>" required>
                    <input label='Type:' type="text" name="type" value="<%= locals.type %>" required>
                    <input label='Price:' type="text" name="price" value="<%= locals.price %>" required>
                </label></br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
    <link rel="stylesheet" href="styles.css">
</html>