<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/music/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Music Item: </br>
                    <br>
                    <input placeholder="Patch Music ID" label='Music ID:' type="text" name="music_id" value="<%= locals.music_id %>" required>
                    <input placeholder="Patch Album Name" label='Album Name:' type="text" name="album_name" value="<%= locals.album_name %>" required>
                    <!--Artist Name, Type and Price aren't being recognized as values. Also, Artist name is showing in the Album Name input?-->
                    <input placeholder="Patch Artist Name" label='Artist Name:' type="text" name="artist_name" value="<%= locals.artist_name %>" required>
                    <input placeholder="Patch Type" label='Type:' type="text" name="type" value="<%= locals.type %>" required>
                    <input placeholder="Patch Price" label='Price:' type="text" name="price" value="<%= locals.price %>" required>
                </label></br>
                <br>
                <button id="patch-btn">PATCH</button>
            </form>
            <br>
            <br>
        
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</html>